.success-icon i {
    font-size: 4rem;
    color: #4CAF50;
}

.modal-body p {
    font-size: 1.25rem;
    color: #555;
}

.modal-backdrop {
    z-index: 1040 !important;
}

#responseModal {
    z-index: 1050 !important;
}
